@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #3B3B3B;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

header {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    
}

.menu li {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.menu li:hover{
    border-bottom: 2px solid #165C91;
}

.question {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1100px;
}

.question p {
    text-align: justify;
    font-size: 1.3em;
    margin-bottom: 50px;
}


#nota {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#salvar, #apagarLocalStorage {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#salvar:hover, #apagarLocalStorage:hover {
    background-color: #0056a4;
}

#apagarLocalStorage {
    background-color: #ff4136;
}

#apagarLocalStorage:hover {
    background-color: #d31f0d;
}

@media (max-width: 850px) {
    header{
        flex-direction: column;
    }
    header img {
        margin-bottom: 20px;
    }

    header .menu {
        justify-content: center;
    }
}